@*@model List<Zoughaibandco.ViewModel.Product_VM>

    @if (Model.Count > 0)
    {
        <ul id="sortable" class="ui-sortable" tablename="Product">
            @foreach (var product in Model)
            {
                <li>
                    @product.Title
                    <a style="position:absolute; right:75px;" href="javascript:if (confirm('Are you sure you want to delete this product with all related information ?')) { DeleteProduct('@product.ProductId') }">Delete</a>
                    <a style="position:absolute; right:15px;" href="@Url.Action("AddEditProduct", "Admin", new { ProductId = product.ProductId })">Edit</a>
                    <div class="smallLoader"></div>
                </li>
            }
        </ul>
    }*@



@model List<Zoughaibandco.ViewModel.ProductFilter_VM>

@if (Model.Count > 0)
{
    <ul id="sortable" class="ui-sortable" tablename="Product">

        @foreach (var data in Model)
        {
            if (data.filterType == Zoughaibandco.ViewModel.ProductFilter.category.ToString())
            {
                <div style="color: #d37137; text-indent: 10px; text-transform: uppercase; margin-top:30px; margin-bottom:10px;">
                    <b>@data.Category</b>
                </div>
            }

            if (data.ProductList.Count > 0)
            {
                foreach (var product in data.ProductList)
                {
                    <li>
                        @product.Title
                        
                        <a style="position:absolute; right:75px;" href="javascript:if (confirm('Are you sure you want to delete this product with all related information ?')) { DeleteProduct('@product.ProductId') }">Delete</a>
                        <a style="position:absolute; right:15px;" href="@Url.Action("AddEditProduct", "Admin", new { ProductId = product.ProductId })">Edit</a>
                        <div style="font-size: 13px; padding-top: 6px;">
                            Refernce NO: @product.ReferenceNO
                        </div>
                    </li>
                }
            }
        }
    </ul>
}