<div class="collectionsSLide1 width-100">
    <div class="safeareaProducts left center_left">
        <div class="breadCrumb breadCrumbCollections right">
            <span class="breadCrumbTitle ProximaNovaA-Regular"><a style="color:white" href="@Url.Action("Index","Home", null)">HOME</a> / <a style="color:white" href="@Url.Action("Index","Collection", null)">COLLECTIONS</a> / THE LEAVES COLLECTION</span>
        </div>
        <div class="collectionsimg1 left"></div>

        <div class="collectionsSlide1Content center_top">
            <span class="lookbook upper width-100 ProximaNovaA-Regular">lookbook</span>
            <h2 class="width-100 upper CormorantRegular">the leaves collections</h2>
            <a href="" class="right upper ProximaNovaA-Light">download lookbook</a>
            <a class="shopCollectionB1 right upper ProximaNovaA-Light" href="@Url.Action("Index","Category",new { Id = ViewBag.Id, Menu = "Collection" })"><div class="bs_fill_white_collections transition"></div>Shop the collection</a>
        </div>

    </div>
</div>
<div class="collectionsSlide2 width-100">
    <div class="safearea">
        <div class="collectionsSlide2Left left">
            <div class="collectionsSlide2LeftIMG anim_opacity0 transition2" style="background-image: url('../../Assets/Images/AllCollection/collections-2-1.jpg')">
            </div>
        </div>
        <div class="collectionsSlide2Right right">
            <div class="collectionsSlide2RightIMG anim_opacity0 transition2" style="background-image: url('../../Assets/Images/AllCollection/collections2-2.jpg')">
            </div>
            <div class="collectionsSlide2RightIMG anim_opacity0 transition2" style="background-image: url('../../Assets/Images/AllCollection/collections2-3.jpg')">
            </div>
        </div>
    </div>
</div>
<div class="collectionsSlide3 width-100">
    <div class="safearea">
        <div class="collectionsSlide3Left left">
            <div class="collectionsSlide3LeftIMG anim_opacity0 transition2" style="background-image: url('../../Assets/Images/AllCollection/collections3-1.jpg')">
            </div>
        </div>
        <div class="collectionsSlide3Right right">
            <div class="collectionsSlide3Text width-100 anim_opacity0 transition2">
                <article class="left center_left ProximaNovaA-Regular">
                    Because Autumn is synonym to reincarnation and renewal, the Leaves Collection was inspired by a moment of rebirth. The Leaves Collection is simplistic and colorful, with clean cuts and shapes. A comprehensive collection which includes daily ornaments and bridal sets. The Leaves Collection is an elegy to the most beautiful season of the year: the leaf of change, full of hope and promises.
                </article>
            </div>
            <div class="collectionsSlide3RightIMG right anim_opacity0 transition2" style="background-image: url('../../Assets/Images/AllCollection/collections3-2.jpg')">
            </div>
        </div>
    </div>
</div>
<div class="collectionsSlide4 width-100">
    <div class="safearea">
        <div class="collectionsSlide4Left left">
            <div class="collectionsSlide4LeftIMG anim_opacity0 transition2" style="background-image: url('../../Assets/Images/AllCollection/collections4-1.jpg')">
            </div>
        </div>
        <div class="collectionsSlide4Right right anim_opacity0 transition2">
            <div class="collectionsSlide4RightTitle left center_left"></div>
        </div>
    </div>
</div>
<div class="homepage_centered_section">
    <div class="safearea">
        <div class="width-100">
            <div class="hbox4 collectionsb50 left">
                <div class="fragrance_collection anim_opacity0 transition2" style="background-image: url('../../Assets/Images/AllCollection/collections5-2.jpg')">
                </div><!--fragrance_collection-->
            </div>

            <div class="hbox4 collectionsb50 right anim_opacity0 transition2">
                <div class="fragrance_collection" style="background-image: url('../../Assets/Images/AllCollection/collections5-3.jpg')">
                </div><!--fragrance_collection-->
            </div>
        </div>
        <div class="collectionCheckContainer width-100">
            @if (ViewBag.Previous != null)
            {
                <a href="@Url.Action(Convert.ToString(ViewBag.Previous),"Collection")" class="collectionPrev left upper CormorantRegular">previous collection</a>
            }

            @if (ViewBag.Next != null)
            {
                <a href="@Url.Action(Convert.ToString(ViewBag.Next),"Collection")" class="collectionPrev right upper CormorantRegular">next collection</a>
            }
            <a href="@Url.Action("Index","Category",new { Id = ViewBag.Id, Menu = "Collection" })" class="collectionShop center_left upper CormorantRegular"><div class="bs_fill_dark_orange_collections transition"></div>shop the collection</a>
            <a href="" class="collectionDownload center_left left upper CormorantRegular">download lookbook</a>
        </div>
        <div class="hbox11" style="margin-bottom: 24px;">
            <div class="hbox11_holder center_both">
                <div class="hbox11_quote_blurred">“ Zoughaib &amp; Co’s master pieces are deﬁned by brilliant design and unparalleled craftsmanship ”</div>
                <div class="hbox11_quote">“ Zoughaib &amp; Co’s master pieces are deﬁned by brilliant design and unparalleled craftsmanship ”</div>
                <div class="doumit_signature"></div>
            </div><!--hbox11_holder-->
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Scripts/Custom")